.footer-black-theme {
  background-color: @primary-text-color !important;
  border-top: 1px solid rgba(84, 84, 84, 0.48) !important;
  color: @white-text-color !important;

  .footer_link {
    color: @white-text-color !important;
  }

  .footer_text {
    color: @white-text-color !important;
  }
}