.header-black-theme {
  background-color: @primary-text-color !important;
  border-bottom: 1px solid rgba(84, 84, 84, 0.48) !important;
  color: @white-text-color !important;

  .header_left-block_logo {
    color: @white-text-color !important;
  }

  .nav-link {
    color: @white-text-color !important;
  }
}