.container {
    min-height: calc(100vh - 280px);

    .books {
        display: grid !important;
        grid-template-columns: repeat(auto-fit, 196px);
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
        max-width: 1280px;
        margin: 100px auto;
    }
}

.books-link {
    position: relative;
    color: @primary-color;

    &::after {
        position: absolute;
        width: calc(100% + 10px);
        top: 37px;
        left: -5px;
        content: "";
        display: block;
        padding-top: 3px;
        border-bottom: 2px solid @primary-color;
    }
}