.book_review {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 170px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
  padding: 0 10px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  text-align: center;

  &_poster {
    width: 130px;
    height: 190px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    position: relative;
    overflow: hidden;

    &_top {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 40px;
      z-index: 1;
      padding: 0 1px;
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;

      &_progress {
        display: inline-block;
      }
    }

    &_image {
      transition: transform 500ms;
      width: 130px;
      height: 190px;
    }
  }

  &:hover .book_review_poster img {
    transform: scale(1.05);
  }
}