@import "../base/Variables";

.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  width: 200px;
  height: 330px;
  position: relative;
  cursor: pointer;

  &_bg {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 0 2px 4px rgb(0 0 0 / 11%);
    transition: all ease-out 150ms;
  }

  &_in {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &_image_container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 10px;
      height: 180px;
      overflow: hidden;
      position: relative;

      &_image {
        width: 196px;
        height: 300px;
      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50px;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 85%);
      }
    }

    &_description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 15px 15px 0 15px;
      gap: 10px;

      &_title {
        font-size: 16px;
        line-height: 19px;
        max-height: 40px;
        overflow: hidden;
      }

      &_authors {
        font-size: 14px;
        line-height: 16px;
        color: rgba(33, 53, 71, 0.5);
      }

      &_parameters {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        &_rating {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 6px 0;
          gap: 5px;

          &_percent {
            font-size: 12px;
          }
        }

        &_language {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 6px 0;
          gap: 5px;

          &_score {
            font-size: 12px;
          }
        }

        &_created_at {
          font-size: 12px;
        }
      }
    }
  }

  &:hover .book_bg {
    transform: scale(1.05);
  }
}