@import "../base/Variables";
@import "../themes/FooterBlackTheme";

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  height: 60px;
  font-size: 12px;

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    max-width: 1280px;
    transition: all ease-out 150ms;
    margin: 5px 0;

    .footer_link {
      font-size: 14px;
    }

    &_text {
      color: @primary-color-for-icons;
    }
  }
}