.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  height: 100%;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 60px 0;

  .agreements {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.footer_link {
  color: @primary-color;
}