.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 50px 0;

  .film {
    width: 67%;
    max-width: 1280px;
    height: 700px;
  }
}