.pagination {
  width: 67%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
}

.disabled {
  pointer-events: none;
  cursor: default;
  background-color: @grey-color;
}

.films-link {
  position: relative;
  color: @primary-color;

  &::after {
    position: absolute;
    width: calc(100% + 10px);
    top: 37px;
    left: -5px;
    content: "";
    display: block;
    padding-top: 3px;
    border-bottom: 2px solid @primary-color;
  }
}