@media screen and (max-width: 860px) {
  .pagination {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .films-link::after {
    display: none;
  }
}