.section-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 350px;

  .preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 1280px;

    &_title {
      font-size: 36px;
      line-height: 42px;
    }
  }

  .section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 100%;

    &_left-block {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &_title,
      &_content {
        width: 470px;
      }

      &_title {
        font-size: 32px;
        line-height: 38px;
      }

      &_content {
        font-size: 16px;
      }
    }

    &.reverse {
      flex-direction: row-reverse;
    }
  }

  &.light-color {
    background-color: @secondary-color !important;
  }

  &.white-color {
    background-color: #fff;
  }
}