@media screen and (max-width: 860px) {

  .section-container {
    text-align: center;
    height: auto;

    .preview {
      margin: 50px;
    }

    .section {
      display: flex;
      flex-direction: column-reverse !important;
      align-items: center;
      gap: 50px;
      margin: 50px;
    }

    .section_left-block {
      width: 100%;

      &_title,
      &_content {
        width: inherit;
      }
    }
  }
}