.section-first {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  padding: 100px 0;

  &_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    width: 400px;
  }

  &_img {
    width: 300px;
    cursor: pointer;

    img {
      width: inherit;
      height: inherit;
    }
  }
}

.section-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0;
  gap: 100px;
  background-color: @secondary-color;
  text-align: center;

  &_books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    justify-items: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    gap: 20px;
  }
}