@media screen and (max-width: 860px) {

  .section-first {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_info {
      width: 90%;
      height: 90%;
      align-items: center;

      &_fio {
        text-align: center;
      }

      &_description {
        text-align: left;
      }
    }
  }

  .section-second {
    width: 100%;
  }
}