.container {
  padding: 50px 0;

  .premium-description {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 18px;
    box-shadow: 0 0 13px -7px #000;
    padding: 20px;

    &_line {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &_title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
      }

      &_description {
        width: 100%;
        max-width: 500px;
      }
    }
  }

  .premium-cards {
    width: 100%;
    max-width: 1280px;
    margin: 100px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    font-size: 18px;

    &_card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 375px;
      box-shadow: 0 0 13px -7px #000;
      border-top: 7px @primary-color solid;
      gap: 20px;
      padding: 20px 0;

      &_description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 40px;

        &_pull {
          font-size: 22px;
        }

        &_price {
          color: @primary-color;
          font-size: 34px;
        }
      }
    }
  }
}

.premium-link {
  position: relative;
  color: @primary-color;

  &::after {
    position: absolute;
    width: calc(100% + 10px);
    top: 37px;
    left: -5px;
    content: "";
    display: block;
    padding-top: 3px;
    border-bottom: 2px solid @primary-color;
  }
}