@media screen and (max-width: 860px) {

  .premium-description {
    width: calc(100% - 30px) !important;

    &_line {
      flex-direction: column !important;
      align-items: flex-start !important;
      gap: 20px;
    }
  }

  .premium-cards {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;

    &_card {
      width: calc(100% - 30px) !important;
    }
  }

  .premium-link::after {
    display: none;
  }

}