.filtration {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: @secondary-color;
  width: 1280px;
  height: 60px;
  margin: 0 auto;

  .filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    gap: 40px;

    &_item {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      transition: all ease-out 150ms;

      &:hover .filter_item_text {
        filter: contrast(200%);
      }

      .polygon-rotate {
        transform: rotate(180deg);
      }

      &:hover .polygon {
        filter: contrast(200%);
      }

      &_text {
        font-size: 16px;
        text-decoration: none;
        color: @primary-text-color;
      }
    }
  }

  .search {
    position: relative;

    &_icon {
      position: absolute;
      left: 92.77%;
      right: 3.61%;
      top: 24.32%;
      bottom: 24.32%;
      background: rgba(60, 60, 60, 0.7);
    }
  }
}