@media screen and (max-width: 860px) {

  .filtration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: auto;
    padding: 30px 0;
    gap: 30px;
    width: auto;

    .filter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    .search {
      width: auto;

      img {
        display: none;
      }
    }
  }
}