.section-first {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  padding: 100px 0;

  .book-left-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 300px;
    cursor: pointer;

    &_button {
      width: 100%;
      height: 45px;
    }
  }

  .book-right-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    min-width: 398px;
    max-width: 600px;

    &_description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 27px;
    }

    &_parameters {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
      width: 398px;
    }
  }
}

.section-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0;
  gap: 100px;
  background-color: @secondary-color;
  text-align: center;

  .similar-books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    justify-items: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    gap: 20px;
  }
}