@media screen and (max-width: 860px) {

  .section-first {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .book-left-block {
      width: 90%;
      height: 90%;

      a,
      img {
        width: inherit;
        height: inherit;
      }
    }

    .book-right-block {
      justify-content: center;
      align-items: center;
      width: 90%;
      max-width: 90%;
      min-width: 90%;

      &_description {
        text-align: center;
        align-items: center;

        .title,
        &_description {
          width: 100%;
        }

        &_description {
          text-align: left;
        }
      }

      &_parameters {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        &_parameter {
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
      }
    }
  }
}