@media screen and (max-width: 860px) {

  .header-container {
    height: auto;

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 30px 0;
      width: auto;
      gap: 50px;

      &_left-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        &_nav {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}