.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  text-align: center;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 100%;
    gap: 100px;

    &_left-block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 60px;

      &_logo {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        cursor: pointer;
        transition: all ease-out 150ms;
        text-decoration: none;
        color: @primary-text-color;

        &:hover {
          color: rgba(33, 53, 71, 0.5);
        }
      }

      &_nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
      }
    }

    &_right-block {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 30px;

      &_networks {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 15px;

        &_network {
          color: @primary-color-for-icons;
          opacity: 0.7;
          cursor: pointer;
          transition: all ease-out 150ms;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}