.primary-button,
.secondary-button,
.primary-gray-button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600 !important;
  border-radius: 5px;
  padding: 8px 0;
  width: 150px;
  height: 35px;
  border: none;
  transition: all ease-out 150ms;
  cursor: pointer;
  text-decoration: none;
}

.primary-button {
  background-color: @primary-button-color;

  &:hover {
    background-color: @primary-button-hover-color;
  }
}

.primary-gray-button {
  background-color: @grey-color;

  &:hover  {
    background-color: @grey-color-hover;
  }
}

.secondary-button {
  background-color: @secondary-button-color;

  &:hover  {
    background-color: @secondary-button-hover-color;
  }
}

.btn-up {
  position: fixed;
  background-color: @primary-color;
  right: 20px;
  bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}