.content {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 620px;
  padding: 20px 20px 40px 20px;
  line-height: 1.3!important;
  text-align: justify;
  text-overflow: clip;
}

.page {
  display: block;
  padding: 0;
  margin: 0;
  height: 900px;
}

.page.page_shown {
  display: inline;
}

.page.page_shown.separated {
  user-select: none;
  -webkit-user-select: none;
}

.page.page_shown .line-break-dummy {
  display: inline!important;
  padding-left: 1px;
}

.page.page_shown p.inl {
  display: inline;
}

p {
  display: inline-block;
  width: 100%;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  text-indent: 1em;
}

se, w {
  display: inline;
  cursor: text;
  font-size: 24px;
}

p {
  font-size: 24px;
}

h1, h2, h3 {
  font-size: 26px !important;
}

.se_bot w {
  font-size: 26px;
}

.page.page_shown p.inl.top {
  padding-left: 1em;
}

.container-black-theme {
  background-color: @primary-text-color !important;
  color: @white-text-color !important;
}