.container {
  display: flex;
  justify-content: center;
  align-items: center;

  .inner-container {
    width: 450px;
    border-radius: 7px;
    background: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 11%);
    padding: 10px;

    h2 {
      font-size: 25px;
      font-weight: 500;
      padding: 18px 25px;
      border-bottom: 1px solid @primary-color;
    }

    .content {
      margin: 25px 20px 35px;

      .word {
        font-size: 33px;
        font-weight: 500;
        text-align: center;
        letter-spacing: 24px;
        margin-right: -24px;
        text-transform: uppercase;
        word-break: break-all;
      }

      .details {
        margin: 25px 0 20px;

        p {
          font-size: 18px;
          margin-bottom: 10px;

          b {
            font-weight: 500;
          }
        }
      }

      input {
        width: 100%;
        height: 60px;
        outline: none;
        padding: 0 16px;
        border-radius: 5px;
        border: 1px solid @grey-color;
        font-size: 18px;

        &:hover {
          border-color: @primary-color;
        }

        &:focus {
          border-color: @primary-color;
        }
      }

      .buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        a {
          width: calc(100% / 2 - 8px);
          padding: 20px 0;
          font-size: 1em;
        }
      }
    }
  }
}

.scramble-link {
  position: relative;
  color: @primary-color;

  &::after {
    position: absolute;
    width: calc(100% + 10px);
    top: 37px;
    left: -5px;
    content: "";
    display: block;
    padding-top: 3px;
    border-bottom: 2px solid @primary-color;
  }
}