<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet/less" type="text/css" href="/pages/AuthorPage.less?version=6" />
  <script src="/js/Less.js" type="text/javascript"></script>
  <script src="/js/ButtonUp.js" type="text/javascript"></script>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta charset="UTF-8">
  <title>Автор</title>
</head>
<body>
<div th:insert="~{Fragments :: header}"></div>
<div class="container" th:inline="text">
  <div class="section section-first">
    <div class="section-first_img">
      <img th:src="${author.getImageUrl()}"
           alt="Джоан Роулинг" />
    </div>
    <div class="section-first_info">
      <span class="section-first_info_fio title">
        [[${author.getName()}]]
      </span>
      <div class="section-first_info_description">
        [[${author.getDescription()}]]
      </div>
    </div>
  </div>
  <div class="section section-second">
    <span class="title">
      Книги автора
    </span>
    <div class="section-second_books">
      <th:block th:each="similarBook : ${author.getBooks()}" th:inline="text">
        <div class="book_review" >
          <div class="book_review_poster">
            <div class="book_review_poster_top">
              <i class="book_review_poster_top_progress" style="width: 55px; height: 55px; padding: 10px 10px 0 0;"></i>
            </div>
            <a th:href="@{'book?id=' + ${similarBook.getId()}}">
              <img class="book_review_poster_image"
                   th:src="${similarBook.getImageUrl()}"
                   alt="Книга 1" />
            </a>
          </div>
          <div class="book_review_title strong">
            [[${similarBook.getTitle()}]]
          </div>
        </div>
      </th:block>
    </div>
  </div>
</div>
<div th:insert="~{Fragments :: footer}"></div>
<div class="btn-up btn-up_hide"></div>
</body>
</html>