<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet/less" type="text/css" href="/pages/BooksPage.less?version=10" />
  <script src="/js/Less.js" type="text/javascript"></script>
  <script src="/js/ButtonUp.js" type="text/javascript"></script>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta charset="UTF-8">
  <title>Книги</title>
</head>
<body>
<div th:insert="~{Fragments :: header}"></div>
<div class="filtration">
  <div class="filter">
    <div class="filter_item">
      <a class="filter_item_text"
         th:href="@{'/books?sort-field=languageComplexity&sort-dir=' + ${sortField.equals('languageComplexity') && sortDir.equals('asc') ? 'desc' : 'asc'}}">
        Сложность
      </a>
      <img th:class="${sortField.equals('languageComplexity') && sortDir.equals('asc') ? 'polygon-rotate' : 'polygon'}"
           src="/images/booksPage/polygon.jpg"
           alt="Полигон" />
    </div>
    <div class="filter_item">
      <a class="filter_item_text"
         th:href="@{'/books?sort-field=createdAtYear&sort-dir=' + ${sortField.equals('createdAtYear') && sortDir.equals('asc') ? 'desc' : 'asc'}}">
        Год написания
      </a>
      <img th:class="${sortField.equals('createdAtYear') && sortDir.equals('asc') ? 'polygon-rotate' : 'polygon'}"
           src="/images/booksPage/polygon.jpg"
           alt="Полигон" />
    </div>
    <div class="filter_item">
      <a class="filter_item_text"
         th:href="@{'/books?sort-field=rating&sort-dir=' + ${sortField.equals('rating') && sortDir.equals('asc') ? 'desc' : 'asc'}}">
        Рейтинг
      </a>
      <img th:class="${sortField.equals('rating') && sortDir.equals('asc') ? 'polygon-rotate' : 'polygon'}"
           src="/images/booksPage/polygon.jpg"
           alt="Полигон" />
    </div>
  </div>
  <div class="search">
    <input id="primary-input"
           class="primary-input"
           type="text"
           placeholder="Поиск по автору или названию"
           th:value="${filter}"/>
    <img class="search_icon"
         src="/images/common/search.jpg"
         alt="Поиск" />
    <a id="search-a"
       href="#"></a>
  </div>
</div>
<div class="container">
  <div class="books">
    <th:block th:each="book : ${books}" th:inline="text">
      <div class="book">
        <div class="book_bg"></div>
        <div class="book_in">
          <a th:href="@{'book?id=' + ${book.getId()}}">
            <div class="book_in_image_container">
              <img class="book_in_image_container_image"
                   th:src="${book.getImageUrl()}"
                   alt="Книга 1" />
            </div>
            <div class="book_in_description">
              <span class="book_in_description_title strong">
                [[${book.getTitle()}]]
              </span>
              <span class="book_in_description_authors">
                [[${book.getAuthorsString()}]]
              </span>
              <div class="book_in_description_parameters">
                <div class="book_in_description_parameters_rating">
                  <img src="/images/booksPage/like.jpg"
                       alt="Рейтинг" />
                  <span class="book_in_description_parameters_rating_percent">
                    [[${book.getRating()}]] %
                  </span>
                </div>
                <div class="book_in_description_parameters_language">
                  <img src="/images/booksPage/language.jpg" alt="Язык" />
                  <span class="book_in_description_parameters_language_score">
                    [[${book.getLanguageComplexity()}]]
                  </span>
                </div>
                <span class="book_in_description_parameters_created_at">
                  [[${book.getCreatedAtYear()}]] г.
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </th:block>
  </div>
</div>
<div th:insert="~{Fragments :: footer}"></div>
<div class="btn-up btn-up_hide"></div>
<script th:inline="javascript">
    const input = document.getElementById("primary-input");
    input.addEventListener("keyup", event => {
        event.preventDefault();

        if (event.keyCode === 13) {
            const link = document.getElementById("search-a");
            link.href = `/books?sort-field=${[[${sortField}]]}&sort-dir=${[[${sortDir}]]}&filter=` + input.value.replace("[\/]+", "");
            link.click();
        }
    });
</script>
</body>
</html>