<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet/less" type="text/css" href="/pages/BookInfoPage.less?version=1" />
  <script src="/js/Less.js" type="text/javascript"></script>
  <script src="/js/ButtonUp.js" type="text/javascript"></script>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta charset="UTF-8">
  <title th:inline="text">[[${book.getTitle()}]]</title>
</head>
<body>
<div th:insert="~{Fragments :: header}"></div>
<div class="container" th:inline="text">
  <div class="section section-first">
    <div class="book-left-block">
      <img th:src="${book.getImageUrl()}"
           alt="Фотография книги" />
      <a class="book-left-block_button primary-button" th:href="@{'book/content?id=' + ${book.getId()}}">
        Читать
      </a>
      <a class="book-left-block_button primary-button" th:href="@{'/flowFilms?id=' + ${book.getId()}}">
        Фильм
      </a>
    </div>
    <div class="book-right-block">
      <div class="book-right-block_description">
        <span class="title">
          [[${book.getTitle()}]]
        </span>
        <span class="book-right-block_description_description">
          [[${book.getDescription()}]]
        </span>
      </div>
      <div class="book-right-block_parameters">
        <span class="book-right-block_parameters_parameter">
          <span class="strong">Авторы:</span>
          <a class="green-link" th:each="author, iter : ${book.getAuthors()}" th:href="@{'author?id=' + ${author.getId()}}">
            [[!${iter.last} ? ${author.getName()} + ', ' : ${author.getName()}]]
          </a>
        </span>
        <span class="book-right-block_parameters_parameter">
          <span class="strong">Жанры:</span> [[${book.getGenresString()}]]
        </span>
        <span class="book-right-block_parameters_parameter">
          <span class="strong">Язык:</span> [[${book.getLanguage().getValue()}]]
        </span>
        <span class="book-right-block_parameters_parameter">
          <span class="strong">Сложность:</span> [[${book.getLanguageComplexity().name()}]]
        </span>
        <span class="book-right-block_parameters_parameter">
          <span class="strong">Год написания:</span> [[${book.getCreatedAtYear()}]]
        </span>
        <span class="book-right-block_parameters_parameter">
          <span class="strong">Количество страниц:</span> [[${book.getNumberOfPages()}]]
        </span>
      </div>
    </div>
  </div>
  <div class="section section-second">
    <span class="title">Похожие книги</span>
    <div class="similar-books">
      <th:block th:each="similarBook : ${book.getSimilarBooks()}" th:inline="text">
        <div class="book_review" >
          <div class="book_review_poster">
            <div class="book_review_poster_top">
              <i class="book_review_poster_top_progress" style="width: 55px; height: 55px; padding: 10px 10px 0 0;"></i>
            </div>
            <a th:href="@{'book?id=' + ${similarBook.getId()}}">
              <img class="book_review_poster_image"
                   th:src="${similarBook.getImageUrl()}"
                   alt="Книга 1" />
            </a>
          </div>
          <div class="book_review_title strong">
            [[${similarBook.getTitle()}]]
          </div>
        </div>
      </th:block>
    </div>
  </div>
</div>
<div th:insert="~{Fragments :: footer}"></div>
<div class="btn-up btn-up_hide"></div>
</body>
</html>