<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet/less" type="text/css" href="/pages/ErrorPage.less?version=10" />
  <script src="/js/Less.js" type="text/javascript"></script>
  <script src="/js/ButtonUp.js" type="text/javascript"></script>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta charset="UTF-8">
  <title>404 страница</title>
</head>
<body>
<div th:insert="~{Fragments :: header}"></div>
<div class="container">
  <span class="title">
    404
  </span>
  <div class="description">
    <span class="description_title">
      Страница не найдена
    </span>
    <span class="description_body">
      Без паники, воспользуйтесь меню или <a th:href="@{'/books'}" class="description_body_link link">вернитесь</a>
    </span>
  </div>
</div>
<div th:insert="~{Fragments :: footer}"></div>
<div class="btn-up btn-up_hide"></div>
</body>
</html>