<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet/less" type="text/css" href="/pages/FilmsPage.less" />
  <script src="/js/Less.js" type="text/javascript"></script>
  <script src="/js/ButtonUp.js" type="text/javascript"></script>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta charset="UTF-8">
  <title>Фильмы</title>
</head>
<body>
<div th:insert="~{Fragments :: header}"></div>
<div class="container container-film">
  <iframe class="film" width="560" height="315" th:src="${book.getFilmUrl()}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></iframe>
  <div class="pagination">
    <a th:class="${isFirst} ? 'primary-button back-to-book-button disabled' : 'primary-button back-to-book-button'" th:href="@{'flowFilms?id=' + ${prevBookId}}">
      ❮ Назад
    </a>
    <a class="primary-button back-to-book-button" th:href="@{'book?id=' + ${book.getId()}}">
      К книге
    </a>
    <a th:class="${isLast} ? 'primary-button back-to-book-button disabled' : 'primary-button back-to-book-button'" th:href="@{'flowFilms?id=' + ${nextBookId}}">
      Вперед ❯
    </a>
  </div>
</div>
<div th:insert="~{Fragments :: footer}"></div>
<div class="btn-up btn-up_hide"></div>
</body>
</html>