<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Фрагменты</title>
</head>
<body>
<div th:fragment="header" class="header-container">
  <div class="header">
    <div class="header_left-block">
      <a class="header_left-block_logo" th:href="@{'/'}">
        Linguae
      </a>
      <div class="header_left-block_nav">
        <a class="header_left-block_nav_item nav-link books-link" th:href="@{'/books'}">
          Книги
        </a>
        <a class="header_left-block_nav_item nav-link films-link" th:href="@{'/flowFilms?id=1'}">
          Фильмы
        </a>
        <a class="header_left-block_nav_item nav-link premium-link" th:href="@{'/premiumPage'}">
          Премиум
        </a>
        <a class="header_left-block_nav_item nav-link scramble-link" th:href="@{'/scrabble'}">
          Скрэббл
        </a>
      </div>
    </div>
    <div class="header_right-block">
      <div class="header_right-block_networks">
        <img class="header_right-block_networks_network"
             src="/images/header/github.svg"
             alt="github" />
        <img class="header_right-block_networks_network"
             src="/images/header/discord.svg"
             alt="discord" />
      </div>
    </div>
  </div>
</div>
<div th:fragment="content-book-header" id="header-container" class="header-container">
  <div id="header" class="header">
    <div class="header_left-block">
      <a class="header_left-block_logo" th:href="@{'/'}">
        Linguae
      </a>
      <div class="header_left-block_nav">
        <a class="header_left-block_nav_item nav-link" th:href="@{'/books'}">
          Книги
        </a>
        <a class="header_left-block_nav_item nav-link films-link" th:href="@{'/flowFilms?id=1'}">
          Фильмы
        </a>
        <a class="header_left-block_nav_item nav-link premium-link" th:href="@{'/premiumPage'}">
          Премиум
        </a>
        <a class="header_left-block_nav_item nav-link scramble-link" th:href="@{'/scrabble'}">
          Скрэббл
        </a>
      </div>
    </div>
    <div class="header_right-block">
      <div class="header_right-block_networks">
        <img id="img" class="header_right-block_networks_network" src="/images/header/loon.svg" alt="loon" />
      </div>
    </div>
  </div>
</div>
<div id="footer-container" th:fragment="footer" class="footer-container">
  <div class="footer">
    <a class="footer_link link" th:href="@{'/userAgreements'}">
      Пользовательские соглашения
    </a>
    <span class="footer_text">
      Все права защищены © 2022 Linguae
    </span>
  </div>
</div>
</body>
</html>