<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet/less" type="text/css" href="/pages/MainPage.less" />
  <script src="/js/Less.js" type="text/javascript"></script>
  <script src="/js/ButtonUp.js" type="text/javascript"></script>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta charset="UTF-8">
  <title>Главная страница</title>
</head>
<body>
<div th:insert="~{Fragments :: header}"></div>
<div class="container">
  <div class="section-container">
    <div class="preview">
      <span class="preview_title">
        Читайте иностранные книги без словаря
      </span>
      <a class="secondary-button" th:href="@{'/books'}">
        К книгам
      </a>
    </div>
  </div>
  <div class="section-container light-color">
    <div class="section">
      <div class="section_left-block">
        <span class="section_left-block_title">
          Переводи слова в один клик
        </span>
        <span class="section_left-block_content">
          Для того, чтобы узнать перевод встретившегося незнакомого слова, теперь больше не обязательно лезть в словарь! Перевести слово можно, просто нажав на него. Хотите увидеть перевод словосочетания или предложения? Не проблема - просто выделите необходимый фрагмент текста.
        </span>
      </div>
      <div class="section_right-block">
        <img class="section_right-block_img"
             src="/images/mainPage/main-page-1.png"
             alt="Переводи слова в один клик" />
      </div>
    </div>
  </div>
  <div class="section-container white-color">
    <div class="section reverse">
      <div class="section_left-block">
        <span class="section_left-block_title">
          Персональный словарь
        </span>
        <span class="section_left-block_content">
          Добавляй слова в один клик с переводом и повторяй их в любое время. Удобная сортировка по книгам.
        </span>
      </div>
      <div class="section_right-block">
        <img class="section_right-block_img"
             src="/images/mainPage/main-page-2.png"
             alt="Переводи слова в один клик" />
      </div>
    </div>
  </div>
  <div class="section-container light-color">
    <div class="section">
      <div class="section_left-block">
        <span class="section_left-block_title">
          Тесты на повторение
        </span>
        <span class="section_left-block_content">
          Запоминать слова ещё проще с разнообразными тестами. Для большей усваимости слова были разделены по книгам.
        </span>
      </div>
      <div class="section_right-block">
        <img class="section_right-block_img"
             src="/images/mainPage/main-page-3.png"
             alt="Переводи слова в один клик" />
      </div>
    </div>
  </div>
  <div class="section-container white-color">
    <div class="section reverse">
      <div class="section_left-block">
        <span class="section_left-block_title">
          Загрузка своих книг
        </span>
        <span class="section_left-block_content">
          Не нашел понравившеюся книгу? Не проблема, на сайте есть возможность добавлять свои в форматах pdf и html
        </span>
      </div>
      <div class="section_right-block">
        <img class="section_right-block_img"
             src="/images/mainPage/main-page-4.png"
             alt="Переводи слова в один клик" />
      </div>
    </div>
  </div>
</div>
<div th:insert="~{Fragments :: footer}"></div>
<div class="btn-up btn-up_hide"></div>
</body>
</html>