.nav-link {
  color: @primary-text-color;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  transition: all ease-out 150ms;

  &:hover {
    position: relative;
    color: @primary-color;

    &::after {
      position: absolute;
      width: calc(100% + 10px);
      top: 37px;
      left: -5px;
      content: "";
      display: block;
      padding-top: 3px;
      border-bottom: 2px solid @primary-color;
    }
  }

  &-active {
    position: relative;
    color: @primary-color;

    &::after {
      position: absolute;
      width: calc(100% + 10px);
      top: 37px;
      left: -5px;
      content: "";
      display: block;
      padding-top: 3px;
      border-bottom: 2px solid @primary-color;
    }
  }
}

.link,
.green-link {
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  transition: all ease-out 150ms;

  &:hover {
    position: relative;
  }
}

.link {
  color: @primary-text-color;

  &:hover {
    color: @primary-color;
  }
}

.green-link {
  color: @primary-color;

  &:hover {
    color: @primary-text-color;
  }
}

.link-active {
  color: @primary-color;
}