.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .title {
    font-weight: 500;
    font-size: 128px;
    color: @primary-color;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;

    &_title {
      font-weight: 400;
      font-size: 31px;
      color: @primary-text-color;
    }

    &_body {
      font-weight: 400;
      font-size: 23px;
      color: @primary-text-color;

      &_link {
        color: @primary-color;
        font-size: inherit;

        &:hover {
          color: @primary-text-color;
        }
      }
    }
  }
}