.primary-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 45px 0 18px;
  background: @white-text-color;
  border: 1px solid @white-text-color;
  border-radius: 5px;
  width: 498px;
  height: 35px;
  cursor: pointer;
  transition: all ease-out 150ms;
  font-size: 100%;

  &:hover {
    border-color: @primary-color;
  }

  &:focus {
    border-color: @primary-color;
  }
}