@import "Variables";

body {
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
  font-family: 'Roboto', sans-serif;
  color: @primary-text-color;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.25;
}

.strong {
  font-weight: 500;
}

.title {
  font-size: 32px;
  font-weight: 500;
}