@primary-color: #42B883;
@primary-text-color: #213547;
@white-text-color: #fff;
@primary-button-color: @primary-color;
@primary-button-hover-color: #1FCC7D;
@secondary-button-color: #3E59B9;
@secondary-button-hover-color: rgba(62, 89, 185, 0.75);
@secondary-color: #F2F7FB;
@primary-color-for-icons: #3C3C3C;
@grey-color: #B5C0C9;
@grey-color-hover: #939ba2;
@red-color: #ff0000;
